body{
	background-color: #edece7
}


@media only screen and (max-width: 767px){
	body .main-form{
		margin-top: 0;
	}

}
.main-form{
	margin-top: 15px;
}

@media only screen and (min-width: 1200px){	
}