@media only screen and (max-width: 767px){
	
	body .ui.container.form-header {
	    margin-left: 0 !important;
	    margin-right: 0 !important;

	}	
	body .form-header__center-information .form-header__center-information__img{
		width: 100px;
	}

	body .form-header__center-information .form-header__center-information__information{
		font-size: 16px;
	}

	body .form-header .form-header__button-back{
		display: none;
	}
}

.form-header{
	background: url(../images/footer_bg.jpg);
	padding: 25px;
	position: relative;
}

.form-header .form-header__button-back{
	text-align: center;
	position: absolute;
	color: #8d7249;
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1.5px solid #8d7249;
	border-radius: 50%;
}

.form-header .form-header__button-back span{
	margin-top: 25%;
	display: block;
}

.form-header .form-header__button-back:hover{
	background-color: #8d7249;
	color: #fff;
	border-color: #8d7249;
	transition: all 0.5s ease;	
}

.form-header__center-information{
	text-align: center;
}

.form-header__center-information .form-header__center-information__img{
	display: inline-block;
	vertical-align: middle;
}

.form-header__center-information .form-header__center-information__information{
	display: inline-block;
	color: #FFF;
	font-size: 35px;
	border-left: 0.5px solid #8d7249;
	margin-left: 15px;
	height: 100%;
	padding: 15px;
	letter-spacing: 2.5px;
}