/*@charset "utf-8";*/
/* CSS Document */

/* Full-width inputs */
form {
    border: 3px solid #f1f1f1;
}
input[type=text], input[type=password] {
    width: 40%;
	height: 1px;
    padding: 12px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 0px thin #f0f0f0;
    box-sizing: border-box;
}
.loginForm{
background: #f4f4f4;
  border: 1px solid #42464b;
  border-radius: 3px;
  height: 350px;
  margin: 10px auto 0;
  width: 280px;
}