+ form {
    border: 0px solid #f1f1f1;
}
input[type=text], input[type=password] {
    width: 75%;
	height: 0px;
    padding: 12px 10px;
    display: inline-block;
    border: 0px thin #f0f0f0;
    box-sizing: border-box;
    font-size: 10px;
    border-radius: 3px;
}
input[type=submit]{
    float: left;
    margin-left: 30px;
    margin-top: -5px;
}

.loginForm{
  background: #fff;
  border: 1px solid;
  border-color:#999;
  border-radius: 8px;
  height: 325px;
  margin: 20px auto;
  width: 250px;
}
.alignLeft{ 
	float: left;
    margin-left: 30px;
    font-size: 11px;
    font-weight: bold;
}
.alignRight{
	float: right;
    margin-right: 30px;
    font-size: 11px;
    font-weight: bold;
}
.button-base{
    background: grey;  
}
#logTitle{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-left: -30px;
}
.buttonBottom{
    margin-top: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 11px; 
}
.alignRightReg{
	float: right;
    margin: -10px 30px 20px 0px;
    font-size: 11px;
    font-weight: bold;
}
h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
}
#bottomForm{
    background-color: rgb(247, 247, 247);
    height: 78px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*.share {
  --border: 1px solid LightGrey;
  border: 1.25px dashed #f4f4f4;
  padding: 10px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}
.share a {
  background: red;
  border: 1px solid red;
  border-radius: 8px;
  color: white;
  display: inline-block;
  margin: -1px;
  padding: 5px;
  text-decoration: none;
  font-size: 9px;
}
.share a:hover {
  background: white;
  border: 1px solid red;
  color: red;
}*/
