.greetings{
	width: 1290px;
	margin: 10px auto;
	text-align: center;
	color: #8d7249;
}

.greetings .greeting-title{
	text-transform: uppercase;
	font-weight: bold;
}

.greetings .subtitle{
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 15px;
}

.greetings .greeting-text{
	font-size: 20px;
	line-height: 38px;
}

.greetings .border{
	width: 100%;
	border-bottom: 2px dotted #8d7249;
}